body, html {
  padding: 0;
  margin: 0;
}
body, html, #root, .main {
  height: 100%;
}
body {
  font-family: 'Muli', sans-serif;
}

.main {
  & > .row {
    margin: 0;
  }
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 3;
  padding: 10px;
  overflow: hidden;
  padding-top: 60px;
}

.content-creator {
  position: relative;

  .img-creator {
    width: 200px;
    position: fixed;
    left: 50%;
  }
}

.panel {
  display: flex;
  height: 100%;
  overflow: hidden;
  padding-top: 125px;
  box-sizing: border-box;

  .results {
    flex-basis: 300px;
    background: #eee;
    height: 100%;
    overflow: scroll;
    position: relative;

    .loading {
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateY(-50%) translateX(-50%);
    }
  }

  .grid {
    flex: 1;
    margin-left: 20px;
  }
}

.result {
  cursor: move;
  font-size: 13px;
  border-bottom: 1px solid #545454;
  margin-bottom: 10px;
  margin: 5px;
  height: 150px;
  box-sizing: border-box;
  background: #fff;
  padding: 5px;
  overflow: hidden;
  position: relative;

  &:after {
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    height: 40px;
    content: '';
    background: linear-gradient(to bottom, rgba(30,87,153,0) 0%,rgba(252,253,254,1) 67%,rgba(255,255,255,1) 68%);
  }

  strong {
    font-weight: 700;
  }

  .result-body {
    display: flex;
  }

  .result-img {
    flex-basis: 30%;
    padding-right: 10px;
  }

  .result-description {
    flex: 1;
  }

  img {
    max-width: 100%;
    border: 1px solid #545454;
  }

  &.result-youtube {
    position: relative;
    border: 0;
    text-align: center;

    &:after {
      display: none;
    }

    img {
      border: 1 solid transparent;
      filter: grayscale(50%);
      max-width: 100%;
      max-height: 200px;
    }

    .result-play {
      position: absolute;
      left: 0;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      text-align: center;
      font-size: 40px;
      color: #fff;
      text-shadow: 2px 2px 9px #000;
      z-index: 2;
      cursor: pointer;
    }
  }

  .result-google {
    h4, h5 {
      margin: 0;
    }
  }
}

.grid-row {
 
  margin-bottom: 16px;
  display: flex;

  &:last-child {
    margin-bottom: 0;
  }

  .grid-elem {
    flex: 1;
    height: 200px;
    background: #eee;
    margin: 0 8px 0 8px;
    position: relative;
    border: 1px solid #dedede;

    &.grid-elem-hover {
      background: #927fc1;
      & > * {
        opacity: 0;
      }

    }

    &.grid-bordered {
      border: 1px solid #927fc1;
      box-shadow: 1px 1px 12px #927fc1;
    }
  }
}


.grid-default {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: #afafaf;

  .drop-here {
    margin-bottom: 20px;
    text-shadow: 2px 2px #ff0000;
    text-shadow: 0px 0px 2px #e4e4e4;

    i {
      font-size: 40px;
      color: #afafaf;
    }
  }
}

.grid-content {
  position: relative;
  height: 100%;
  width: 100%;
  float: left;
  background: url('assets/swirl_pattern.png');

  .grid-background {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;

    img {
      max-width: 100%;
      max-height: 200px;
    }
  }

  .grid-text {
    position: absolute;
    text-align: justify;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background: #fff;
    overflow: hidden;
    padding: 0 10px;
  }

  .grid-foot {
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: #fff;
    border-top: 1px solid #dedede;
    display: flex;

    div:first-child {
      flex: 1;
      padding-left: 10px;
    }
  }

  h3 {
    line-height: 1.27em;
    overflow: hidden;
    height: 1.27em;
    font-size: 0.75em;
    font-weight: 200;
  }

  span {
    height: 1em;
  }

  .grid-type {
    flex-basis: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .grid-play {
    position: absolute;
    left: 0;
    right: 0;
    top: 40%;
    transform: translateY(-50%);
    text-align: center;
    font-size: 40px;
    color: #fff;
    text-shadow: 2px 2px 9px #000;
    z-index: 2;
    cursor: pointer;
  }

  .grid-type-youtube {
    color: #cc181e;
  }
}

.preview {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  z-index: 4;
}

.preview-menu {
  padding: 10px;
  color: #fff;
  display: flex;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 2;
  background: #000;

  button {
    border: 1px solid #fff;
    background: none;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  .preview-title {
    margin-left: 20px;
    line-height: 44px;
  }

  h2 {
    margin: 0;
  }
}

.preview-content {
  height: 100%;
  padding: 80px 50px 50px;
  position: relative;
  box-sizing: border-box;

  iframe,
  .text-frame {
    width: 100%;
    height: 100%;
    border: 0;
  }

  .text-frame {
    background: #fff;
    width: 900px;
    margin: 0 auto;
    padding: 20px 40px;
    font-size: 20px;
  }

  .preview-btn-left,
  .preview-btn-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: 1px solid #fff;
    color: #fff;
    padding: 20px 5px;
    cursor: pointer;

    &:hover {
      background: #fff;
      color: #000;
    }
  }

  .preview-btn-left {
    left: 10px;
  }

  .preview-btn-right {
    right: 10px;
  }
}

.wrapper-planning {
  background-color: #F7F7F7;
  height: 100%;

  .flex-planning {
    display: flex;
    flex-direction: row;
    height: 66%;

    .planning {
      background-color: #EDEDED;
      width: 25%;
      height: 75%;
      padding-left: 20px;
      padding-right: 25px;

      .img-logo {
        max-width: 100%;
        margin: auto;
      }

      h1, h2 {
        color: #757575;
      }

      h1 {
        padding-top: 15px;
        font-size: 17px;
      }

      h2 {
        font-size: 15px;

      }

      input {
        width: 98%;
      }

      select {
        width: 100%;
      }

      ::-moz-placeholder {
         color: #565656;
         font-style: italic;
      }

      ::-webkit-input-placeholder {
       color: #CBCBCB;
      }

      .filter-btn {
        width: 100%;
        margin-top: 18px;
        margin-bottom: 80px;
      }
    }

    .planning-column {
      display: flex;
      flex-direction: column;
      flex-basis: 75%;
      min-height: 500px;

      .start-border {
        display: flex;
        flex-direction: row;
        align-items: center;
        height: 65%;
        border-style: dashed;
        border-width: 0.5px;
        border-color: #BFBFBF;

        img {
          margin-left: 15px;
        }

        div:first-child {
          flex-basis: 45%;
        }

        h1 {
          color: #902C73;
        }

        p {
          color: #8A8A8A;
          font-weight: bold;
        }        
      }
      .img-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        text-align: center;
        height: 50%;

        div {
          flex: 1;

          p {
            color: #C5C5C5;
            font-weight: bold;
          }
        }
      }
    }
  }
}

.choose-grid {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;

  div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 62px;

  }

  .unselected-grid {
    display: flex;
    flex-direction: row;
    background-color: #fff;
    align-content: center;
    flex-basis: 70px;
    border: solid 1px #F2F2F2;
    border-radius: 4px;

    div .four-grid {
      margin: 2px;
      height: 20px;
      width: 25px;
      border-radius: 3px;
      background-color: #757575;
    }

    .nine-grid {
      margin: 2px;
      height: 12px;
      width: 16px;
      border-radius: 2px;
      background-color: #757575;
    }    
  }

  .selected-grid {
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
    margin-left: 20px;
    margin-right: 20px;
    flex-basis: 70px;
    border: solid 1px #F2F2F2;
    border-radius: 4px;

    div .six-grid {
      margin: 2px;
      height: 20px;
      width: 16px;
      border-radius: 3px;
      background-color: #757575;
    }
  }
}

.modal {

  h1, h2 {
    color: #757575;
    font-weight: 400;
  }

  h1 {
    padding-top: 15px;
    font-size: 17px;
  }

  h2 {
    font-size: 15px;

  }

  input {
    width: 99%;
  }

  select {
    width: 100%;
    color: #CBCBCB;
    font-style: italic;
  }

  ::-moz-placeholder {
     color: #565656;
     font-style: italic;
  }

  ::-webkit-input-placeholder {
   color: #CBCBCB;
  }

  .filter-btn {
    width: 100%;
    margin-top: 18px;
    margin-bottom: 80px;
  }
}

.grid-column {
  display: flex;
  flex-direction: column;
}

.new-btn {
  width: 100%;
}

.close-modal {
  float: right;
  padding: 20px;
  min-width: 0px;
  border: none;
  background-color: #fff;
  font-size: 15px;
  cursor: pointer;
}
